<div class="box-container">
  <h1 class="m-5 text-center">Signup Page</h1>
  <form #f="ngForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="firstname" class="form-label">Firstname</label>
      <input type="text" ngModel name="firstname" class="form-control" id="firstname">
    </div>
    <div class="mb-3">
      <label for="lastname" class="form-label">Lastname</label>
      <input type="text" ngModel name="lastname" class="form-control" id="lastname">
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" ngModel name="email" class="form-control" id="email">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" ngModel name="password" class="form-control" id="password">
    </div>
    <div class="mb-3 mt-5">
      <button type="submit" class="btn btn-primary w-100">Submit</button>
    </div>
  </form>
  <div class="alert alert-danger" role="alert" *ngIf="error">
    {{error}}
  </div>
</div>
